tool/__pycache__/Config.cpython-310.pyc
tool/__pycache__/Database.cpython-310.pyc
tool/__pycache__/AdbTool.cpython-310.pyc
tool/__pycache__/Img.cpython-310.pyc
tool/__pycache__/ImgMaster.cpython-310.pyc
mod/__pycache__/Zaibian.cpython-310.pyc
img/tmp.png
matches.jpg
